# Project exclude paths
/.gradle/
/build/
/buildSrc/.gradle/
/buildSrc/build/
/buildSrc/build/classes/kotlin/main/
Cache/before new items/main_file_cache.dat2
Cache/before new items/main_file_cache.idx1
Cache/before new items/main_file_cache.idx0
Cache/before new items/main_file_cache.idx11
Cache/before new items/main_file_cache.idx10
Cache/before new items/main_file_cache.idx13
Cache/before new items/main_file_cache.idx12
Cache/before new items/main_file_cache.idx15
Cache/before new items/main_file_cache.idx14
Cache/before new items/main_file_cache.idx17
Cache/before new items/main_file_cache.idx16
Cache/before new items/main_file_cache.idx18
Cache/before new items/main_file_cache.idx19
Cache/before new items/main_file_cache.idx2
Cache/before new items/main_file_cache.idx20
Cache/before new items/main_file_cache.idx255
Cache/before new items/main_file_cache.idx3
Cache/before new items/main_file_cache.idx4
Cache/before new items/main_file_cache.idx6
Cache/before new items/main_file_cache.idx5
Cache/before new items/main_file_cache.idx7
Cache/before new items/main_file_cache.idx8
Cache/before new items/main_file_cache.idx9
Cache/main_file_cache.idx0
Cache/main_file_cache.dat2
Cache/main_file_cache.idx1
Cache/main_file_cache.idx10
Cache/main_file_cache.idx12
Cache/main_file_cache.idx11
Cache/main_file_cache.idx11
Cache/main_file_cache.idx14
Cache/main_file_cache.idx13
Cache/main_file_cache.idx15
Cache/main_file_cache.idx16
Cache/main_file_cache.idx17
Cache/main_file_cache.idx2
Cache/main_file_cache.idx19
Cache/main_file_cache.idx18
Cache/main_file_cache.idx4
Cache/main_file_cache.idx3
Cache/main_file_cache.idx255
Cache/main_file_cache.idx20
Cache/main_file_cache.idx5
Cache/main_file_cache.idx6
Cache/main_file_cache.idx8
Cache/main_file_cache.idx8
Cache/main_file_cache.idx7
Cache/main_file_cache.idx9
runelite/.gradle/7.2/dependencies-accessors/dependencies-accessors.lock
runelite/.gradle/7.2/dependencies-accessors/gc.properties
runelite/.gradle/7.2/executionHistory/executionHistory.lock
runelite/.gradle/7.2/fileChanges/last-build.bin
runelite/.gradle/7.2/executionHistory/executionHistory.bin
runelite/.gradle/7.2/fileHashes/fileHashes.bin
runelite/.gradle/7.2/fileHashes/fileHashes.lock
runelite/.gradle/7.2/fileHashes/resourceHashesCache.bin
runelite/.gradle/7.2/fileHashes/fileHashes.lock
runelite/.gradle/7.2/gc.properties
runelite/.gradle/7.2/fileHashes/fileHashes.lock
runelite/.gradle/7.2/fileHashes/fileHashes.lock
*.lock
*.lock
runelite/.gradle/7.2/fileHashes/fileHashes.lock
runelite/.gradle/checksums/checksums.lock
runelite/.gradle/7.2/fileHashes/fileHashes.lock
/runelite/
