# Project exclude paths
/.gradle/
/build/
/buildSrc/.gradle/
/buildSrc/build/
/buildSrc/build/classes/kotlin/main/
Cache/before new items/main_file_cache.dat2
Cache/before new items/main_file_cache.idx0
Cache/before new items/main_file_cache.idx1
Cache/before new items/main_file_cache.idx10
Cache/before new items/main_file_cache.idx11
Cache/before new items/main_file_cache.idx16
Cache/before new items/main_file_cache.idx14
Cache/before new items/main_file_cache.idx13
Cache/before new items/main_file_cache.idx20
Cache/before new items/main_file_cache.idx2
Cache/before new items/main_file_cache.idx15
Cache/before new items/main_file_cache.idx12
Cache/before new items/main_file_cache.idx17
Cache/before new items/main_file_cache.idx19
Cache/before new items/main_file_cache.idx18
Cache/before new items/main_file_cache.idx255
Cache/before new items/main_file_cache.idx4
Cache/before new items/main_file_cache.idx6
Cache/before new items/main_file_cache.idx7
Cache/before new items/main_file_cache.idx9
Cache/main_file_cache.idx0
Cache/main_file_cache.idx0
Cache/before new items/main_file_cache.idx8
Cache/before new items/main_file_cache.idx5
Cache/before new items/main_file_cache.idx3
Cache/main_file_cache.dat2
*.idx1
*.idx10
*.idx11
*.idx12
*.idx13
*.idx14
*.idx15
*.idx16
*.idx17
*.idx18
*.idx19
*.idx2
*.idx20
*.idx255
*.idx3
*.idx4
*.idx5
*.idx6
*.idx7
*.idx8
*.idx9
*.dat2
*.idx0
